{% load static %}
<!doctype html>
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Почтовик</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'custom_css/style.css' %}" rel="stylesheet">


</head>
<body class="fs-5">

<div class="navbar shadow-sm">
    <div class="container">
        <div class="col-6">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                     class="bi bi-envelope-paper" viewBox="0 0 18 18">
                    <path d="M4 0a2 2 0 0 0-2 2v1.133l-.941.502A2 2 0 0 0 0 5.4V14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5.4a2 2 0 0 0-1.059-1.765L14 3.133V2a2 2 0 0 0-2-2H4Zm10 4.267.47.25A1 1 0 0 1 15 5.4v.817l-1 .6v-2.55Zm-1 3.15-3.75 2.25L8 8.917l-1.25.75L3 7.417V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v5.417Zm-11-.6-1-.6V5.4a1 1 0 0 1 .53-.882L2 4.267v2.55Zm13 .566v5.734l-4.778-2.867L15 7.383Zm-.035 6.88A1 1 0 0 1 14 15H2a1 1 0 0 1-.965-.738L8 10.083l6.965 4.18ZM1 13.116V7.383l4.778 2.867L1 13.117Z"/>
                </svg>
                <strong class="ms-3 fs-3">Почтовик</strong>
            </a>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <div class="nav-item dropdown ps-5">
                <a class="nav-link navbar-toggler ms-5" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-person-circle"
                         viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd"
                              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </a>
                <ul class="dropdown-menu" style="left: -2%">
                    {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'users:login' %}">Войти</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
                    {% endif %}
                    <!--            <li>-->
                    <!--                <hr class="dropdown-divider">-->
                    <!--            </li>-->
                    <!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                </ul>
            </div>

            <button class="navbar-toggler ms-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#mainMenu" aria-controls="mainMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mainMenu"
     aria-labelledby="mainMenu">
    <div class="offcanvas-header border-bottom">
        <span class="fs-3 fw-semibold">Меню</span>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-unstyled ps-0">
            <li class="my-3">
                Рассылки
                <ul class="list-unstyled ps-4">
                    <li class="my-2">
                        <a href="{% url 'mailings:list' %}"
                           class="link-body-emphasis d-inline-flex text-decoration-none ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
                                 class="bi bi-chevron-right me-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            Все рассылки
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="{% url 'mailings:create' %}"
                           class="link-body-emphasis d-inline-flex text-decoration-none ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
                                 class="bi bi-chevron-right me-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            Новая рассылка
                        </a>
                    </li>
                </ul>
            </li>
            <li class="my-3">
                Клиенты
                <ul class="list-unstyled ps-4">
                    <li class="my-2">
                        <a href="#" class="link-body-emphasis d-inline-flex text-decoration-none ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
                                 class="bi bi-chevron-right me-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            Все клиенты
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="#" class="link-body-emphasis d-inline-flex text-decoration-none ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
                                 class="bi bi-chevron-right me-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            Новый клиент
                        </a>
                    </li>
                </ul>
            </li>
            <li class="my-3">
                {% if user.is_authenticated %}
                    {% if user.first_name|add:user.last_name != '' %}
                        {{ user.first_name|add:' '|add:user.last_name }}
                    {% else %}
                        {{ user.email }}
                    {% endif %}
                <ul class="list-unstyled ps-4">
                    <li class="my-2">
                        <a href="{% url 'users:logout' %}" class="link-body-emphasis d-inline-flex text-decoration-none ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
                                 class="bi bi-chevron-right me-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            Выйти
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="{% url 'users:profile' %}" class="link-body-emphasis d-inline-flex text-decoration-none ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
                                 class="bi bi-chevron-right me-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            Профиль
                        </a>
                    </li>
                </ul>
                {% else %}
                Пользователь
                <ul class="list-unstyled ps-4">
                    <li class="my-2">
                        <a href="{% url 'users:login' %}" class="link-body-emphasis d-inline-flex text-decoration-none ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
                                 class="bi bi-chevron-right me-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            Войти
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="{% url 'users:register' %}" class="link-body-emphasis d-inline-flex text-decoration-none ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
                                 class="bi bi-chevron-right me-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            Регистрация
                        </a>
                    </li>
                </ul>
                {% endif %}

            </li>
<!--            <li class="my-3">-->
<!--                <a href="#" class="link-body-emphasis d-inline-flex text-decoration-none ">-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"-->
<!--                         class="bi bi-chevron-right me-2" viewBox="0 0 16 16">-->
<!--                        <path fill-rule="evenodd"-->
<!--                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>-->
<!--                    </svg>-->
<!--                    Профиль-->
<!--                </a>-->
<!--            </li>-->
        </ul>
    </div>
</div>

<div class="bg_light_custom">
    <div class="container py-4">
        {% block light_block %}
        {% endblock %}
    </div>
</div>


<div class="container py-4">
    {% block dark_block %}
    {% endblock %}
</div>


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>